.firstly{
    height: 20vh;
    width: 100% ;
    background-color: rgb(40,39,57);
    flex-direction: row;
    display: flex;

}
nav{
    display: flex;
    position: fixed;
    height:16%;
    width:100% ;
    background-color: rgba(249, 250, 253, 0);
    align-items: center;
    flex-direction: row;
    
    
    }
    .img{
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
    width: 30%;
    }
    .img a{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    li{
        display: flex;
        height: 50%;
        width:10%;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    
    }
    li a{
        color: rgb(104, 104, 104);
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 16px;
        transition: 1s;
    }
    li a:hover{
    color:#efefef;;
    transition: 1s;
    }